html {
  background: url(images/ocean.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



#main_container{
    width: 1024px;
    height: 768px;
    position: relative;
    margin: auto;
    background-size: cover;

}

#logo {
    width: 217px;
    position: relative;
    margin: auto;
}



.container {
    display: flex;
        width: 100%;
              flex-grow: 6;
    flex-direction: row;
            justify-content: flex-end;
        justify-content: space-between 62px;
    justify-content: space-around 62px;

}
