body{
    margin: @px;
    background-image: url(images/ocean.jpg);
    background-size: cover;
}

#main_container{
    width: 1024px;
    height: 768px;
    position: relative;
    margin: auto;
    background-size: cover;

}

#logo {
    width: 217px;
    position: relative;
    margin: auto;
}


